{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <style>

        body{
            background: url(https://s3-us-west-2.amazonaws.com/akilunaphotography/background.jfif) no-repeat center center fixed;
            background-size: 1920px 1080px;
        }

    </style>

    <h1>Most Photographers Take Pictures. We Tell Stories</h1>

    <p>You deserve your day to be surrounded by people who have a passion and dedication for what they do.</p>

    <p>Do one thing and do it extremely well.</p>

    <p>Tell your story with creative excellence.</p>
{% endblock %}
